USE [quanlynhankhau]
GO
/****** Object:  Table [dbo].[nam_hoc]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nam_hoc](
	[namHoc] [nvarchar](10) NOT NULL,
	[motSuatQua] [nvarchar](100) NOT NULL,
	[tongGiaTriMotSuat] [decimal](15, 4) NOT NULL,
 CONSTRAINT [PK_nam_hoc_namHoc] PRIMARY KEY CLUSTERED 
(
	[namHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_khau]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_khau](
	[ID] [int] IDENTITY(39,1) NOT NULL,
	[maNhanKhau] [nvarchar](100) NULL,
	[hoTen] [nvarchar](100) NULL,
	[bietDanh] [nvarchar](100) NULL,
	[namSinh] [date] NULL,
	[gioiTinh] [nvarchar](100) NULL,
	[noiSinh] [nvarchar](100) NULL,
	[nguyenQuan] [nvarchar](100) NULL,
	[danToc] [nvarchar](100) NULL,
	[tonGiao] [nvarchar](100) NULL,
	[quocTich] [nvarchar](100) NULL,
	[soHoChieu] [nvarchar](100) NULL,
	[noiThuongTru] [nvarchar](100) NULL,
	[diaChiHienNay] [nvarchar](100) NULL,
	[trinhDoHocVan] [nvarchar](100) NULL,
	[TrinhDoChuyenMon] [nvarchar](100) NULL,
	[bietTiengDanToc] [nvarchar](100) NULL,
	[trinhDoNgoaiNgu] [nvarchar](100) NULL,
	[ngheNghiep] [nvarchar](100) NULL,
	[noiLamViec] [nvarchar](100) NULL,
	[tienAn] [nvarchar](100) NULL,
	[ngayChuyenDen] [date] NULL,
	[lyDoChuyenDen] [nvarchar](100) NULL,
	[ngayChuyenDi] [date] NULL,
	[lyDoChuyenDi] [nvarchar](100) NULL,
	[diaChiMoi] [nvarchar](100) NULL,
	[ngayTao] [date] NULL,
	[idNguoiTao] [int] NULL,
	[ngayXoa] [date] NULL,
	[idNguoiXoa] [int] NULL,
	[lyDoXoa] [nvarchar](100) NULL,
	[ghiChu] [nvarchar](100) NULL,
	[CCCD] [nvarchar](100) NULL,
 CONSTRAINT [PK_nhan_khau_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_vien_cua_ho]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_vien_cua_ho](
	[idNhanKhau] [int] NOT NULL,
	[idHoKhau] [int] NOT NULL,
	[quanHeVoiChuHo] [nvarchar](100) NULL,
 CONSTRAINT [PK_thanh_vien_cua_ho_idNhanKhau] PRIMARY KEY CLUSTERED 
(
	[idNhanKhau] ASC,
	[idHoKhau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trao_qua_hsg]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trao_qua_hsg](
	[idNhanKhau] [int] NOT NULL,
	[thanhTich] [nvarchar](100) NULL,
	[namHoc] [nvarchar](10) NOT NULL,
	[minhChung] [varbinary](max) NULL,
	[trangThai] [nvarchar](20) NULL,
	[ngayNhan] [date] NULL,
 CONSTRAINT [PK_trao_qua_hsg_idNhanKhau] PRIMARY KEY CLUSTERED 
(
	[idNhanKhau] ASC,
	[namHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ds_hoc_sinh]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
*   SSMA informational messages:
*   M2SS0003: The following SQL clause was ignored during conversion:
*   ALGORITHM =  UNDEFINED.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   DEFINER = `root`@`localhost`.
*   M2SS0003: The following SQL clause was ignored during conversion:
*   SQL SECURITY DEFINER.
*/

CREATE VIEW [dbo].[ds_hoc_sinh] (
   [ID], 
   [hoTen], 
   [noiLamViec], 
   [idHoKhau], 
   [quanHeVoiChuHo], 
   [thanhTich], 
   [minhChung], 
   [trangThai], 
   [namHoc])
AS 
   SELECT 
      nhan_khau.ID AS ID, 
      nhan_khau.hoTen AS hoTen, 
      nhan_khau.noiLamViec AS noiLamViec, 
      thanh_vien_cua_ho.idHoKhau AS idHoKhau, 
      thanh_vien_cua_ho.quanHeVoiChuHo AS quanHeVoiChuHo, 
      trao_qua_hsg.thanhTich AS thanhTich, 
      trao_qua_hsg.minhChung AS minhChung, 
      trao_qua_hsg.trangThai AS trangThai, 
      trao_qua_hsg.namHoc AS namHoc
   FROM ((dbo.nhan_khau 
      LEFT JOIN dbo.thanh_vien_cua_ho 
      ON ((nhan_khau.ID = thanh_vien_cua_ho.idNhanKhau))) 
      LEFT JOIN dbo.trao_qua_hsg 
      ON ((nhan_khau.ID = trao_qua_hsg.idNhanKhau)))
   WHERE ((nhan_khau.ngheNghiep = 'Học sinh') AND (CAST(trao_qua_hsg.namHoc AS float(53)) = 
      (
         SELECT max(nam_hoc.namHoc)
         FROM dbo.nam_hoc
      )))
GO
/****** Object:  Table [dbo].[chung_minh_thu]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chung_minh_thu](
	[ID] [int] IDENTITY(26,1) NOT NULL,
	[idNhanKhau] [int] NULL,
	[soCMT] [nvarchar](12) NOT NULL,
	[ngayCap] [date] NULL,
	[noiCap] [nvarchar](100) NULL,
 CONSTRAINT [PK_chung_minh_thu_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_sach_nhan_qua_cac_nam]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_sach_nhan_qua_cac_nam](
	[idNhanKhau] [int] NOT NULL,
	[namHoc] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_danh_sach_nhan_qua_cac_nam_idNhanKhau] PRIMARY KEY CLUSTERED 
(
	[idNhanKhau] ASC,
	[namHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dinh_chinh]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dinh_chinh](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idHoKhau] [int] NULL,
	[thongTinThayDoi] [nvarchar](100) NULL,
	[thayDoiTu] [nvarchar](100) NULL,
	[thayDoiThanh] [nvarchar](100) NULL,
	[ngayThayDoi] [date] NULL,
	[nguoiThayDoi] [int] NULL,
 CONSTRAINT [PK_dinh_chinh_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gia_dinh]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gia_dinh](
	[ID] [int] IDENTITY(34,1) NOT NULL,
	[idNhanKhau] [int] NULL,
	[hoTen] [nvarchar](100) NULL,
	[namSinh] [date] NULL,
	[gioiTinh] [nvarchar](100) NULL,
	[quanHeVoiNhanKhau] [nvarchar](100) NULL,
	[ngheNghiep] [nvarchar](100) NULL,
	[diaChiHienTai] [nvarchar](100) NULL,
 CONSTRAINT [PK_gia_dinh_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_khau]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_khau](
	[ID] [int] IDENTITY(17,1) NOT NULL,
	[maHoKhau] [nvarchar](100) NULL,
	[idChuHo] [int] NULL,
	[maKhuVuc] [nvarchar](100) NULL,
	[diaChi] [nvarchar](100) NULL,
	[ngayLap] [date] NULL,
	[ngayChuyenDi] [date] NULL,
	[lyDoChuyen] [nvarchar](max) NULL,
	[nguoiThucHien] [int] NULL,
 CONSTRAINT [PK_ho_khau_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khai_tu]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khai_tu](
	[ID] [int] IDENTITY(2,1) NOT NULL,
	[soGiayKhaiTu] [nvarchar](100) NULL,
	[idNguoiKhai] [int] NULL,
	[idNguoiChet] [int] NULL,
	[ngayKhai] [date] NULL,
	[ngayChet] [date] NULL,
	[lyDoChet] [nvarchar](100) NULL,
 CONSTRAINT [PK_khai_tu_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[le_tet]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[le_tet](
	[idSuKien] [int] IDENTITY(7,1) NOT NULL,
	[thoiGian] [date] NOT NULL,
	[tenSuKien] [nvarchar](100) NOT NULL,
	[motSuatQua] [nvarchar](100) NOT NULL,
	[tongGiaTriMotSuat] [decimal](15, 2) NOT NULL,
	[ngayTao] [date] NOT NULL,
	[idNguoiTao] [int] NOT NULL,
 CONSTRAINT [PK_le_tet_idSuKien] PRIMARY KEY CLUSTERED 
(
	[idSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lich_su_thay_doink]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_su_thay_doink](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[idHoKhauMoi] [nvarchar](50) NOT NULL,
	[idNhanKhau] [int] NOT NULL,
	[suKien] [nvarchar](100) NULL,
	[ngay] [date] NULL,
 CONSTRAINT [PK_lich_su_thay_doink_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qua_hsg]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qua_hsg](
	[thanhTich] [nvarchar](100) NOT NULL,
	[namHoc] [nvarchar](10) NOT NULL,
	[soLuongSuatQua] [int] NOT NULL,
 CONSTRAINT [PK_qua_hsg_thanhTich] PRIMARY KEY CLUSTERED 
(
	[thanhTich] ASC,
	[namHoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tam_tru]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tam_tru](
	[ID] [int] IDENTITY(2,1) NOT NULL,
	[idNhanKhau] [int] NULL,
	[maGiayTamtru] [nvarchar](100) NULL,
	[soDienThoaiNguoiDangKy] [nvarchar](100) NULL,
	[tuNgay] [date] NOT NULL,
	[denNgay] [date] NOT NULL,
	[lyDo] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_tam_tru_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tam_vang]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tam_vang](
	[ID] [int] IDENTITY(3,1) NOT NULL,
	[idNhanKhau] [int] NULL,
	[maGiayTamVang] [nvarchar](100) NULL,
	[noiTamtru] [nvarchar](100) NULL,
	[tuNgay] [date] NULL,
	[denNgay] [date] NULL,
	[lyDo] [nvarchar](100) NULL,
 CONSTRAINT [PK_tam_vang_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tieu_su]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tieu_su](
	[ID] [int] IDENTITY(13,1) NOT NULL,
	[idNhanKhau] [int] NULL,
	[tuNgay] [date] NULL,
	[denNgay] [date] NULL,
	[diaChi] [nvarchar](100) NULL,
	[ngheNghiep] [nvarchar](100) NULL,
	[noiLamViec] [nvarchar](100) NULL,
 CONSTRAINT [PK_tieu_su_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[trao_qua_le_tet]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trao_qua_le_tet](
	[idHoKhau] [int] NOT NULL,
	[idSuKien] [int] NOT NULL,
	[soLuongQua] [int] NOT NULL,
	[trangThai] [nvarchar](20) NOT NULL,
	[ngayNhanQua] [date] NULL,
	[idNguoiGhiNhan] [int] NULL,
	[thoiGianGhiNhan] [date] NULL,
 CONSTRAINT [PK_trao_qua_le_tet_idHoKhau] PRIMARY KEY CLUSTERED 
(
	[idHoKhau] ASC,
	[idSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 1/10/2023 3:30:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[ID] [int] IDENTITY(4,1) NOT NULL,
	[userName] [nvarchar](100) NULL,
	[passwd] [nvarchar](100) NULL,
 CONSTRAINT [PK_users_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[chung_minh_thu] ON 

INSERT [dbo].[chung_minh_thu] ([ID], [idNhanKhau], [soCMT], [ngayCap], [noiCap]) VALUES (13, 26, N'000000000001', NULL, NULL)
INSERT [dbo].[chung_minh_thu] ([ID], [idNhanKhau], [soCMT], [ngayCap], [noiCap]) VALUES (14, 27, N'000000000002', NULL, NULL)
INSERT [dbo].[chung_minh_thu] ([ID], [idNhanKhau], [soCMT], [ngayCap], [noiCap]) VALUES (15, 28, N'000000000003', NULL, NULL)
SET IDENTITY_INSERT [dbo].[chung_minh_thu] OFF
GO
INSERT [dbo].[danh_sach_nhan_qua_cac_nam] ([idNhanKhau], [namHoc]) VALUES (35, N'2018-2019')
INSERT [dbo].[danh_sach_nhan_qua_cac_nam] ([idNhanKhau], [namHoc]) VALUES (36, N'2018-2019')
INSERT [dbo].[danh_sach_nhan_qua_cac_nam] ([idNhanKhau], [namHoc]) VALUES (35, N'2019-2020')
GO
SET IDENTITY_INSERT [dbo].[gia_dinh] ON 

INSERT [dbo].[gia_dinh] ([ID], [idNhanKhau], [hoTen], [namSinh], [gioiTinh], [quanHeVoiNhanKhau], [ngheNghiep], [diaChiHienTai]) VALUES (2, 27, N'Nguyễn Minh Quân', CAST(N'1995-05-31' AS Date), N'Nam', N'Chồng', N'Kỹ sư', N'Số 2 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội')
INSERT [dbo].[gia_dinh] ([ID], [idNhanKhau], [hoTen], [namSinh], [gioiTinh], [quanHeVoiNhanKhau], [ngheNghiep], [diaChiHienTai]) VALUES (3, 28, N'Trần Thanh Duyên', CAST(N'1997-12-23' AS Date), N'Nữ', N'Vợ', N'Nhân viên văn phòng', N'Số 2 Tạ Quang Bửu, quận Hai Bà Trưng, Hà Nội')
INSERT [dbo].[gia_dinh] ([ID], [idNhanKhau], [hoTen], [namSinh], [gioiTinh], [quanHeVoiNhanKhau], [ngheNghiep], [diaChiHienTai]) VALUES (4, 29, N'Vũ Mỹ Linh', CAST(N'1965-12-06' AS Date), N'Nữ', N'Vợ', N'Nội trợ', N'Số 3 Tạ Quang Bửu, quận Hai Bà Trưng, Hà Nội')
SET IDENTITY_INSERT [dbo].[gia_dinh] OFF
GO
SET IDENTITY_INSERT [dbo].[ho_khau] ON 

INSERT [dbo].[ho_khau] ([ID], [maHoKhau], [idChuHo], [maKhuVuc], [diaChi], [ngayLap], [ngayChuyenDi], [lyDoChuyen], [nguoiThucHien]) VALUES (13, N'TQB002', 28, N'HN03', N'Số 2 Tạ Quang Bửu, quần Hai Bà Trưng, Hà Nội', CAST(N'2019-12-08' AS Date), NULL, NULL, NULL)
INSERT [dbo].[ho_khau] ([ID], [maHoKhau], [idChuHo], [maKhuVuc], [diaChi], [ngayLap], [ngayChuyenDi], [lyDoChuyen], [nguoiThucHien]) VALUES (14, N'TQB001', 26, N'HN03', N'Số 1 Tạ Quang Bửu, quận Hai Bà Trưng, Hà Nội', CAST(N'2019-12-08' AS Date), NULL, NULL, NULL)
INSERT [dbo].[ho_khau] ([ID], [maHoKhau], [idChuHo], [maKhuVuc], [diaChi], [ngayLap], [ngayChuyenDi], [lyDoChuyen], [nguoiThucHien]) VALUES (15, N'TQB003', 29, N'HN03', N'Số 3 Tạ Quang Bửu, quận Hai Bà Trưng, Hà Nội', CAST(N'2019-12-08' AS Date), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ho_khau] OFF
GO
SET IDENTITY_INSERT [dbo].[khai_tu] ON 

INSERT [dbo].[khai_tu] ([ID], [soGiayKhaiTu], [idNguoiKhai], [idNguoiChet], [ngayKhai], [ngayChet], [lyDoChet]) VALUES (1, N'12', 26, 27, CAST(N'2021-12-25' AS Date), CAST(N'2021-12-25' AS Date), N'no')
SET IDENTITY_INSERT [dbo].[khai_tu] OFF
GO
SET IDENTITY_INSERT [dbo].[le_tet] ON 

INSERT [dbo].[le_tet] ([idSuKien], [thoiGian], [tenSuKien], [motSuatQua], [tongGiaTriMotSuat], [ngayTao], [idNguoiTao]) VALUES (1, CAST(N'2019-06-01' AS Date), N'Tết thiếu nhi', N'1 toy và 2 gói bim bim', CAST(40000.00 AS Decimal(15, 2)), CAST(N'2019-05-29' AS Date), 1)
INSERT [dbo].[le_tet] ([idSuKien], [thoiGian], [tenSuKien], [motSuatQua], [tongGiaTriMotSuat], [ngayTao], [idNguoiTao]) VALUES (2, CAST(N'2019-09-15' AS Date), N'Tết trung thu', N'1 đèn lồng và 1 bánh trung thu', CAST(50000.00 AS Decimal(15, 2)), CAST(N'2019-09-10' AS Date), 1)
INSERT [dbo].[le_tet] ([idSuKien], [thoiGian], [tenSuKien], [motSuatQua], [tongGiaTriMotSuat], [ngayTao], [idNguoiTao]) VALUES (3, CAST(N'2019-09-15' AS Date), N'Khai giảng', N'2 quyển vở', CAST(10000.00 AS Decimal(15, 2)), CAST(N'2019-09-05' AS Date), 1)
SET IDENTITY_INSERT [dbo].[le_tet] OFF
GO
INSERT [dbo].[nam_hoc] ([namHoc], [motSuatQua], [tongGiaTriMotSuat]) VALUES (N'2018-2019', N'5 quyển vở', CAST(25000.0000 AS Decimal(15, 4)))
INSERT [dbo].[nam_hoc] ([namHoc], [motSuatQua], [tongGiaTriMotSuat]) VALUES (N'2019-2020', N'4 quyển vở', CAST(20000.0000 AS Decimal(15, 4)))
INSERT [dbo].[nam_hoc] ([namHoc], [motSuatQua], [tongGiaTriMotSuat]) VALUES (N'2020-2021', N'2 con dao Thái', CAST(90000.0000 AS Decimal(15, 4)))
GO
SET IDENTITY_INSERT [dbo].[nhan_khau] ON 

SET IDENTITY_INSERT [dbo].[nhan_khau] OFF
GO
INSERT [dbo].[qua_hsg] ([thanhTich], [namHoc], [soLuongSuatQua]) VALUES (N'Học sinh giỏi', N'2018-2019', 4)
INSERT [dbo].[qua_hsg] ([thanhTich], [namHoc], [soLuongSuatQua]) VALUES (N'Học sinh giỏi', N'2019-2020', 5)
INSERT [dbo].[qua_hsg] ([thanhTich], [namHoc], [soLuongSuatQua]) VALUES (N'Học sinh giỏi', N'2020-2021', 3)
GO
INSERT [dbo].[thanh_vien_cua_ho] ([idNhanKhau], [idHoKhau], [quanHeVoiChuHo]) VALUES (26, 17, N'Bố')
INSERT [dbo].[thanh_vien_cua_ho] ([idNhanKhau], [idHoKhau], [quanHeVoiChuHo]) VALUES (27, 13, N'Vợ')
INSERT [dbo].[thanh_vien_cua_ho] ([idNhanKhau], [idHoKhau], [quanHeVoiChuHo]) VALUES (30, 15, N'Vợ')
GO
SET IDENTITY_INSERT [dbo].[tieu_su] ON 

INSERT [dbo].[tieu_su] ([ID], [idNhanKhau], [tuNgay], [denNgay], [diaChi], [ngheNghiep], [noiLamViec]) VALUES (2, 27, CAST(N'2015-09-05' AS Date), CAST(N'2015-09-05' AS Date), N'Số 45, ngõ 56, Nguyễn Khang, Cầu Giấy, Hà Nội', N'Sinh viên', N'Đại học Thương mại')
INSERT [dbo].[tieu_su] ([ID], [idNhanKhau], [tuNgay], [denNgay], [diaChi], [ngheNghiep], [noiLamViec]) VALUES (3, 28, CAST(N'2012-09-05' AS Date), CAST(N'2017-09-05' AS Date), N'556 La Thành, Hà Nội', N'Sinh viên', N'Đại học Bách khoa Hà Nội')
INSERT [dbo].[tieu_su] ([ID], [idNhanKhau], [tuNgay], [denNgay], [diaChi], [ngheNghiep], [noiLamViec]) VALUES (4, 29, CAST(N'1989-05-10' AS Date), CAST(N'2000-08-25' AS Date), N'Số 5 Nguyễn Khuyến, Hà Nội', N'Quản lý nhận sự', N'Công ty BCC')
SET IDENTITY_INSERT [dbo].[tieu_su] OFF
GO
INSERT [dbo].[trao_qua_hsg] ([idNhanKhau], [thanhTich], [namHoc], [minhChung], [trangThai], [ngayNhan]) VALUES (35, N'Học sinh giỏi', N'2018-2019', NULL, N'Đã nhận', CAST(N'2019-10-20' AS Date))
INSERT [dbo].[trao_qua_hsg] ([idNhanKhau], [thanhTich], [namHoc], [minhChung], [trangThai], [ngayNhan]) VALUES (35, N'Học sinh giỏi', N'2019-2020', NULL, N'Đã nhận', CAST(N'2020-10-20' AS Date))
INSERT [dbo].[trao_qua_hsg] ([idNhanKhau], [thanhTich], [namHoc], [minhChung], [trangThai], [ngayNhan]) VALUES (35, N'Học sinh giỏi', N'2020-2021', NULL, N'Đã nhận', CAST(N'2022-01-07' AS Date))
GO
INSERT [dbo].[trao_qua_le_tet] ([idHoKhau], [idSuKien], [soLuongQua], [trangThai], [ngayNhanQua], [idNguoiGhiNhan], [thoiGianGhiNhan]) VALUES (13, 6, 1, N'Đã nhận', CAST(N'2022-01-06' AS Date), 1, CAST(N'2022-01-06' AS Date))
INSERT [dbo].[trao_qua_le_tet] ([idHoKhau], [idSuKien], [soLuongQua], [trangThai], [ngayNhanQua], [idNguoiGhiNhan], [thoiGianGhiNhan]) VALUES (14, 6, 1, N'Đã nhận', CAST(N'2022-01-06' AS Date), 1, CAST(N'2022-01-06' AS Date))
INSERT [dbo].[trao_qua_le_tet] ([idHoKhau], [idSuKien], [soLuongQua], [trangThai], [ngayNhanQua], [idNguoiGhiNhan], [thoiGianGhiNhan]) VALUES (15, 6, 4, N'Đã nhận', CAST(N'2022-03-06' AS Date), 1, CAST(N'2022-01-06' AS Date))
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([ID], [userName], [passwd]) VALUES (0, N'system', NULL)
INSERT [dbo].[users] ([ID], [userName], [passwd]) VALUES (1, N'totruong', N'1')
INSERT [dbo].[users] ([ID], [userName], [passwd]) VALUES (2, N'topho', N'1')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
/****** Object:  Index [le_tet$idSuKien_UNIQUE]    Script Date: 1/10/2023 3:30:30 PM ******/
ALTER TABLE [dbo].[le_tet] ADD  CONSTRAINT [le_tet$idSuKien_UNIQUE] UNIQUE NONCLUSTERED 
(
	[idSuKien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[chung_minh_thu] ADD  DEFAULT (NULL) FOR [idNhanKhau]
GO
ALTER TABLE [dbo].[chung_minh_thu] ADD  DEFAULT (NULL) FOR [ngayCap]
GO
ALTER TABLE [dbo].[chung_minh_thu] ADD  DEFAULT (NULL) FOR [noiCap]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [idHoKhau]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [thongTinThayDoi]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [thayDoiTu]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [thayDoiThanh]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [ngayThayDoi]
GO
ALTER TABLE [dbo].[dinh_chinh] ADD  DEFAULT (NULL) FOR [nguoiThayDoi]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [idNhanKhau]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [hoTen]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [namSinh]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [gioiTinh]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [quanHeVoiNhanKhau]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [ngheNghiep]
GO
ALTER TABLE [dbo].[gia_dinh] ADD  DEFAULT (NULL) FOR [diaChiHienTai]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [maHoKhau]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [idChuHo]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [maKhuVuc]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [diaChi]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [ngayLap]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [ngayChuyenDi]
GO
ALTER TABLE [dbo].[ho_khau] ADD  DEFAULT (NULL) FOR [nguoiThucHien]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [soGiayKhaiTu]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [idNguoiKhai]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [idNguoiChet]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [ngayKhai]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [ngayChet]
GO
ALTER TABLE [dbo].[khai_tu] ADD  DEFAULT (NULL) FOR [lyDoChet]
GO
ALTER TABLE [dbo].[lich_su_thay_doink] ADD  DEFAULT (NULL) FOR [suKien]
GO
ALTER TABLE [dbo].[lich_su_thay_doink] ADD  DEFAULT (NULL) FOR [ngay]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [maNhanKhau]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [hoTen]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [bietDanh]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [namSinh]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [gioiTinh]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [noiSinh]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [nguyenQuan]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [danToc]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [tonGiao]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [quocTich]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [soHoChieu]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [noiThuongTru]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [diaChiHienNay]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [trinhDoHocVan]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [TrinhDoChuyenMon]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [bietTiengDanToc]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [trinhDoNgoaiNgu]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ngheNghiep]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [noiLamViec]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [tienAn]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ngayChuyenDen]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [lyDoChuyenDen]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ngayChuyenDi]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [lyDoChuyenDi]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [diaChiMoi]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ngayTao]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [idNguoiTao]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ngayXoa]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [idNguoiXoa]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [lyDoXoa]
GO
ALTER TABLE [dbo].[nhan_khau] ADD  DEFAULT (NULL) FOR [ghiChu]
GO
ALTER TABLE [dbo].[tam_tru] ADD  DEFAULT (NULL) FOR [idNhanKhau]
GO
ALTER TABLE [dbo].[tam_tru] ADD  DEFAULT (NULL) FOR [maGiayTamtru]
GO
ALTER TABLE [dbo].[tam_tru] ADD  DEFAULT (NULL) FOR [soDienThoaiNguoiDangKy]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [idNhanKhau]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [maGiayTamVang]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [noiTamtru]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [tuNgay]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [denNgay]
GO
ALTER TABLE [dbo].[tam_vang] ADD  DEFAULT (NULL) FOR [lyDo]
GO
ALTER TABLE [dbo].[thanh_vien_cua_ho] ADD  DEFAULT (NULL) FOR [quanHeVoiChuHo]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [idNhanKhau]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [tuNgay]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [denNgay]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [diaChi]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [ngheNghiep]
GO
ALTER TABLE [dbo].[tieu_su] ADD  DEFAULT (NULL) FOR [noiLamViec]
GO
ALTER TABLE [dbo].[trao_qua_hsg] ADD  DEFAULT (NULL) FOR [thanhTich]
GO
ALTER TABLE [dbo].[trao_qua_hsg] ADD  DEFAULT (NULL) FOR [trangThai]
GO
ALTER TABLE [dbo].[trao_qua_hsg] ADD  DEFAULT (NULL) FOR [ngayNhan]
GO
ALTER TABLE [dbo].[trao_qua_le_tet] ADD  DEFAULT (NULL) FOR [ngayNhanQua]
GO
ALTER TABLE [dbo].[trao_qua_le_tet] ADD  DEFAULT (NULL) FOR [idNguoiGhiNhan]
GO
ALTER TABLE [dbo].[trao_qua_le_tet] ADD  DEFAULT (NULL) FOR [thoiGianGhiNhan]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [userName]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (NULL) FOR [passwd]
GO
ALTER TABLE [dbo].[chung_minh_thu]  WITH NOCHECK ADD  CONSTRAINT [chung_minh_thu$chung_minh_thu_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[chung_minh_thu] CHECK CONSTRAINT [chung_minh_thu$chung_minh_thu_ibfk_1]
GO
ALTER TABLE [dbo].[danh_sach_nhan_qua_cac_nam]  WITH NOCHECK ADD  CONSTRAINT [danh_sach_nhan_qua_cac_nam$danh_sach_hoc_sinh_nam_hoc_fk1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[danh_sach_nhan_qua_cac_nam] CHECK CONSTRAINT [danh_sach_nhan_qua_cac_nam$danh_sach_hoc_sinh_nam_hoc_fk1]
GO
ALTER TABLE [dbo].[danh_sach_nhan_qua_cac_nam]  WITH NOCHECK ADD  CONSTRAINT [danh_sach_nhan_qua_cac_nam$danh_sach_hoc_sinh_nam_hoc_fk2] FOREIGN KEY([namHoc])
REFERENCES [dbo].[nam_hoc] ([namHoc])
GO
ALTER TABLE [dbo].[danh_sach_nhan_qua_cac_nam] CHECK CONSTRAINT [danh_sach_nhan_qua_cac_nam$danh_sach_hoc_sinh_nam_hoc_fk2]
GO
ALTER TABLE [dbo].[dinh_chinh]  WITH NOCHECK ADD  CONSTRAINT [dinh_chinh$dinh_chinh_ibfk_1] FOREIGN KEY([idHoKhau])
REFERENCES [dbo].[ho_khau] ([ID])
GO
ALTER TABLE [dbo].[dinh_chinh] CHECK CONSTRAINT [dinh_chinh$dinh_chinh_ibfk_1]
GO
ALTER TABLE [dbo].[dinh_chinh]  WITH NOCHECK ADD  CONSTRAINT [dinh_chinh$dinh_chinh_ibfk_2] FOREIGN KEY([nguoiThayDoi])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[dinh_chinh] CHECK CONSTRAINT [dinh_chinh$dinh_chinh_ibfk_2]
GO
ALTER TABLE [dbo].[gia_dinh]  WITH NOCHECK ADD  CONSTRAINT [gia_dinh$gia_dinh_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[gia_dinh] CHECK CONSTRAINT [gia_dinh$gia_dinh_ibfk_1]
GO
ALTER TABLE [dbo].[ho_khau]  WITH NOCHECK ADD  CONSTRAINT [ho_khau$ho_khau_ibfk_1] FOREIGN KEY([idChuHo])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[ho_khau] CHECK CONSTRAINT [ho_khau$ho_khau_ibfk_1]
GO
ALTER TABLE [dbo].[khai_tu]  WITH NOCHECK ADD  CONSTRAINT [khai_tu$khai_tu_ibfk_1] FOREIGN KEY([idNguoiKhai])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[khai_tu] CHECK CONSTRAINT [khai_tu$khai_tu_ibfk_1]
GO
ALTER TABLE [dbo].[khai_tu]  WITH NOCHECK ADD  CONSTRAINT [khai_tu$khai_tu_ibfk_2] FOREIGN KEY([idNguoiChet])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[khai_tu] CHECK CONSTRAINT [khai_tu$khai_tu_ibfk_2]
GO
ALTER TABLE [dbo].[le_tet]  WITH NOCHECK ADD  CONSTRAINT [le_tet$le_tet_fk1] FOREIGN KEY([idNguoiTao])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[le_tet] CHECK CONSTRAINT [le_tet$le_tet_fk1]
GO
ALTER TABLE [dbo].[nhan_khau]  WITH NOCHECK ADD  CONSTRAINT [nhan_khau$nhan_khau_ibfk_1] FOREIGN KEY([idNguoiTao])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[nhan_khau] CHECK CONSTRAINT [nhan_khau$nhan_khau_ibfk_1]
GO
ALTER TABLE [dbo].[nhan_khau]  WITH NOCHECK ADD  CONSTRAINT [nhan_khau$nhan_khau_ibfk_2] FOREIGN KEY([idNguoiXoa])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[nhan_khau] CHECK CONSTRAINT [nhan_khau$nhan_khau_ibfk_2]
GO
ALTER TABLE [dbo].[qua_hsg]  WITH NOCHECK ADD  CONSTRAINT [qua_hsg$qua_hsg_fk1] FOREIGN KEY([namHoc])
REFERENCES [dbo].[nam_hoc] ([namHoc])
GO
ALTER TABLE [dbo].[qua_hsg] CHECK CONSTRAINT [qua_hsg$qua_hsg_fk1]
GO
ALTER TABLE [dbo].[tam_tru]  WITH NOCHECK ADD  CONSTRAINT [tam_tru$tam_tru_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tam_tru] CHECK CONSTRAINT [tam_tru$tam_tru_ibfk_1]
GO
ALTER TABLE [dbo].[tam_vang]  WITH NOCHECK ADD  CONSTRAINT [tam_vang$tam_vang_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tam_vang] CHECK CONSTRAINT [tam_vang$tam_vang_ibfk_1]
GO
ALTER TABLE [dbo].[thanh_vien_cua_ho]  WITH NOCHECK ADD  CONSTRAINT [thanh_vien_cua_ho$thanh_vien_cua_ho_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[thanh_vien_cua_ho] CHECK CONSTRAINT [thanh_vien_cua_ho$thanh_vien_cua_ho_ibfk_1]
GO
ALTER TABLE [dbo].[thanh_vien_cua_ho]  WITH NOCHECK ADD  CONSTRAINT [thanh_vien_cua_ho$thanh_vien_cua_ho_ibfk_2] FOREIGN KEY([idHoKhau])
REFERENCES [dbo].[ho_khau] ([ID])
GO
ALTER TABLE [dbo].[thanh_vien_cua_ho] CHECK CONSTRAINT [thanh_vien_cua_ho$thanh_vien_cua_ho_ibfk_2]
GO
ALTER TABLE [dbo].[tieu_su]  WITH NOCHECK ADD  CONSTRAINT [tieu_su$tieu_su_ibfk_1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[tieu_su] CHECK CONSTRAINT [tieu_su$tieu_su_ibfk_1]
GO
ALTER TABLE [dbo].[trao_qua_hsg]  WITH NOCHECK ADD  CONSTRAINT [trao_qua_hsg$thanh_tich_hoc_sinh_fk1] FOREIGN KEY([idNhanKhau])
REFERENCES [dbo].[nhan_khau] ([ID])
GO
ALTER TABLE [dbo].[trao_qua_hsg] CHECK CONSTRAINT [trao_qua_hsg$thanh_tich_hoc_sinh_fk1]
GO
ALTER TABLE [dbo].[trao_qua_hsg]  WITH NOCHECK ADD  CONSTRAINT [trao_qua_hsg$thanh_tich_hoc_sinh_fk2] FOREIGN KEY([thanhTich], [namHoc])
REFERENCES [dbo].[qua_hsg] ([thanhTich], [namHoc])
GO
ALTER TABLE [dbo].[trao_qua_hsg] CHECK CONSTRAINT [trao_qua_hsg$thanh_tich_hoc_sinh_fk2]
GO
ALTER TABLE [dbo].[trao_qua_le_tet]  WITH NOCHECK ADD  CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk1] FOREIGN KEY([idHoKhau])
REFERENCES [dbo].[ho_khau] ([ID])
GO
ALTER TABLE [dbo].[trao_qua_le_tet] CHECK CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk1]
GO
ALTER TABLE [dbo].[trao_qua_le_tet]  WITH NOCHECK ADD  CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk2] FOREIGN KEY([idSuKien])
REFERENCES [dbo].[le_tet] ([idSuKien])
GO
ALTER TABLE [dbo].[trao_qua_le_tet] CHECK CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk2]
GO
ALTER TABLE [dbo].[trao_qua_le_tet]  WITH NOCHECK ADD  CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk3] FOREIGN KEY([idNguoiGhiNhan])
REFERENCES [dbo].[users] ([ID])
GO
ALTER TABLE [dbo].[trao_qua_le_tet] CHECK CONSTRAINT [trao_qua_le_tet$trao_qua_le_tet_fk3]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.chung_minh_thu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'chung_minh_thu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.danh_sach_nhan_qua_cac_nam' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'danh_sach_nhan_qua_cac_nam'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.dinh_chinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'dinh_chinh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.gia_dinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'gia_dinh'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.ho_khau' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ho_khau'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.khai_tu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'khai_tu'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.le_tet' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'le_tet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.lich_su_thay_doink' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'lich_su_thay_doink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.nam_hoc' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'nam_hoc'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.nhan_khau' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'nhan_khau'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.qua_hsg' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'qua_hsg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.tam_tru' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tam_tru'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.tam_vang' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tam_vang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.thanh_vien_cua_ho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'thanh_vien_cua_ho'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.tieu_su' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'tieu_su'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.trao_qua_hsg' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'trao_qua_hsg'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.trao_qua_le_tet' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'trao_qua_le_tet'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.users' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'users'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_SSMA_SOURCE', @value=N'quanlynhankhau.ds_hoc_sinh' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ds_hoc_sinh'
GO
